* {
    /*border: 1px solid blue;*/
    background-color: black;
}

html {
    height:100%;
}

body {
    margin: 0px;
    height: 100%;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100%;
    background-image: url("space3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

#mainContainer {
    margin-top: 60px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

#display {
    height: 120px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#displayOne {
    font-size: 35px;
    background-color: grey;
    color: black;
    padding-right: 5px;
}

#displayTwo {
    font-size: 35px;
    background-color: grey;
    color: black;
    padding-right: 5px;
}

#edit {
    margin: 0px;
    border: 0px;
    width: 400px;
    display: flex;
}

.editors {
    height: 80px;
    min-width: 50%;
    background-color: rgb(17, 16, 19);
    font-size: 25px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.514);  
}

#container {
    display: flex;
    height: 400px;
    min-width: 400px;
}

#numInputs {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.digits {
    min-height: 100px;
    min-width: 33.3333%;
    background-color: rgb(26, 26, 94);
    color: rgba(255, 255, 255, 0.514);   
    font-size: 25px;
    font-weight: 10;
}

#zero {
    min-height: 100px;
    min-width: 66.66666%;
    background-color: rgb(26, 26, 94);
    color: rgba(255, 255, 255, 0.514);   
    font-size: 25px;
    font-weight: 10;
}

#period {
    min-height: 100px;
    min-width: 33.3333%;
    background-color: rgb(26, 26, 94);
    color: rgba(255, 255, 255, 0.514);   
    font-size: 25px;
    font-weight: 10;
}

#calcInputs {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 400px;
    flex-direction: column;
}

.operators {
    min-width: 20%;
    height: 80px;
    background-color: rgb(72, 26, 72);
    color: rgba(255, 255, 255, 0.514);
    font-size: 25px;
    font-weight: 10;
}

#equals {
    min-width: 20%;
    height: 80px;
    background-color: rgb(72, 26, 72);
    color: rgba(255, 255, 255, 0.514);
    font-size: 25px;
    font-weight: 10;
}

button:hover { 
    background-color: #3d286d !important;  
    color: white !important;
}